<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="../static/css/recover.css">
</head>
<body>

<div class="login-container"> 
    <div class="login-content">
        <div class="login-title"> 
            <img src="../static/img/LogoPascual.png" alt="Logo">
            <h2>¿Olvidaste tu contraseña?</h2>
        </div>
        
        <p class="forgot-text">Ingresa tu correo electrónico y te enviaremos un enlace para que puedas recuperar tu cuenta.</p>

        <form class="forgot-form">
            <div class="form-control">
                <input type="email" id="email" name="email" required placeholder="Tu correo electrónico">
            </div>
            <button type="submit" class="login-button">Enviar enlace</button>
        </form>
        
        <a href="../templates/login.html" class="login-link">Volver a iniciar sesión</a>
    </div>
</div>

</body>
</html>